<!DOCTYPE html>
<html>

<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login :)</title>
    <!--Fontes Google-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">

</head>

<body>
    <div id="login">
        <form class="card">
            <div class="card-header">
                <h2>
                    Login
                </h2>
            </div>
            <div class="card-content">
                <div class="card-content-area">
                    <label for="usuario">Usuário</label>
                    <input type="text" id="usuario"  autocomplete="off" name="user">
                </div>
                <div class="card-content-area">
                    <label for="password">Senha</label>
                    <input type="password" id="password"  autocomplete="off" name="password">
                </div>
            </div>
            <div class="card-footer">
                <input type="submit" value="login" class="submit">
                <a href="#" class="recuperar_senha">Esqueceu a senha?</a>
            </div>
        </form>
    </div>

</body>

</html>